.main {
    width: 100%;
    background-color: #F5F5F5;
    margin: 0;
}
.conteiner {
    width: 1170px;
    margin: 0 auto;
}
.price-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.separator {
    border: 1px solid#EC7979;
    width: 170px;
}
.price {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    height: 70px;
}
.text {
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.conteiner-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 45px;
}
.price-info-first-title {
    background-color: #333333;
    border: 2px solid#F5F5F5;
    width: 370px;
    color: #F5F5F5;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.price-info-first-price {
    width: 370px;
    background-color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    border: 2px solid#F5F5F5;
    color: #F5F5F5;
    line-height: 100px;
}
.subtitle {
    font-family: 'Raleway', sans-serif;
    color: #F5F5F5;
    background-color: #333333;
    width: 370px;
    line-height: 50px;
    border: 2px solid#F5F5F5;
}
.line {
    width: 370px;
    line-height: 50px;
    color: #ccc;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    border: 2px solid#f5f5f5;
    background-color: #fff;
}
.price-info-first {
    align-self: flex-end;
}