.page {
    width: 100%;
    margin-top: 50px;
    
}
.conteiner {
    width: 1170px;
    margin: 0 auto;
}
.conteiner-title {
    text-align: center;
}
.conteiner-title__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    padding-bottom: 35px;
    line-height: 42.26px;
    font-weight: 400;
}
.conteiner-title__bottom {
    border-bottom: 2px solid#EC7979;
    width: 170px;
    margin: 0 auto;
    
}
.conteiner-title__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    padding-top: 30px;
    line-height: 21.13px;
}
.conteiner-section__first {
    width: 33%;
    display: inline-block;
    text-align: center;
}
.conteiner-section__first-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 32.68px;
    font-weight: 700;
    padding-bottom: 10px;

}
.conteiner-section__first-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    line-height: 21.13px;
}

