@import url(https://fonts.google.com/specimen/Raleway?query=ral);
.contact-text {
    text-align: center;
}
.contact-text__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    color: #000;
    padding-top: 100px;
    text-transform: uppercase;
    
}
.contact-text__separator {
width: 170px;
border-bottom: 1px solid#EC7979;
margin: 0 auto;
padding-top: 40px;
}
.contact-text__subtitle {
font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #86878B;
    padding: 40px 0 53px;
}

.contact-row__form {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.contact-row__form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.contact-row__form-name {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 24px;
font-size: 14px;
font-weight: 400;
color: #BDBDBD;
line-height: 19px;
padding-bottom: 10px;
}
.contact-row__form-email {
    margin: 24px 0 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
font-size: 14px;
font-weight: 400;
color: #BDBDBD;
line-height: 19px;
padding-bottom: 10px;
font-family: 'Open Sans', sans-serif;
}
.form-right__textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    outline: none;
    padding-bottom: 43px;
    font-family: 'Open Sans', sans-serif;
    
}
.contact-row__button {
  background-color: #EC7979;  
  width: 370px;
  height: 58px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: #fff;
  margin-bottom: 50px;
  border-color: #EC7979;
}
