@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

* {
    font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

.price-container {
    margin: 50px 50px;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-subcontainer {
  width: 1170px;
  box-sizing: content-box;
}

.price-info-container {
  width: 1170px;
  height: 530px;
  display: flex;
  justify-content: space-between;
      padding-bottom: 70px;

}

.price-info {
    width: 370px;
  height: 510px;
  align-self: flex-end;
}

section.second {
  align-self: flex-start;
}

.price-info h4 {
  background: #333;
  color: #fff;
  font-family: Open Sans, sans-serif;
  text-align: center;
  line-height: 60px;
  height: 60px;
  border: 2px solid #F5F5F5;
  font-size: 24px;
}

.price-info h3 {
  background: #333;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid #F5F5F5;
  font-size: 36px;
  font-weight: 700;
}

.price-info .subtitle {
  height: 50px;
  line-height: 50px;
  background: #333;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #F5F5F5;
}

.price-info .line {
  color: #86878B;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  border: 2px solid #F5F5F5;
  text-align: center;
  background: #fff;
}

.price-subcontainer h2 {
  height: 150px;
  line-height: 150px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.price-subcontainer .separator {
  border: 0.5px solid #EC7979;
  width: 170px;
  margin: 0 auto;
}

.price-subcontainer .text {
  margin: 40px 0 59px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}