.container {
   width: 1170px;
   margin: 0 auto;
}
.customers-text {
   text-align: center; 
}
.customers-title {
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   height: 70px;
   margin-top: 50px;
   padding: 0;
}
.customers-separator {
   border-bottom: 1px solid#EC7979;
   width: 170px;
   margin: 0 auto;
}
.customers-subtitle {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   margin: 40px 0 80px;
   color: #86878B;
}
.customers-column{
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.border {
   width: 370px;
   color: #86878B;
   background: #E2E2E2;
   border-radius: 10px;

   
}
.column-first-title {
   color: #86878B;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   padding:30px;
}
.section-first-icon {
   position: relative;
   top: 50px;
   left: -200px;
}
.section-customers-name {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   color: #000000;
   line-height: 54px;
   margin-top: -40px;
   margin-left: 63px;
}
.position-name {
   margin: -25px 34px 30px;
}
.position-name-man {
   margin: -25px 34px 30px;
}
.customers-prof {
   margin-left: -80px;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
}
.square {
   width: 25px;
   height: 25px;
   background-color: #E2E2E2;
   transform: rotate(45deg);
   position: relative;
   top: -145px;
   left: 72px;
}
